@font-face {
    font-family: MrsMonster;
    src: url(./../fonts/mrsmonster.ttf);
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('./../images/background.jpg');
    background-position: center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body > section {
    width: 800px;
    margin: auto;
}

body > section > .menu {
    margin-top: 50px;
    border-radius: 10px;
}

body > section > .game {
    margin-top: 50px;
}

body > section > .game > canvas {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

body > section > .game > .hud {
    font-family: MrsMonster;
    padding: 10px;
    background-color: #cecece;
    text-align: right;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

body .hidden {
    display: none;
}
